/* Defaults */
div {
  display: inline;
  font-family: Mono;
  font-size: small;
}

/* Rows */
div.row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

div.col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0em 0.5em;
}

/* Outer divs */
div.resume {
  box-shadow: 0em 0.0625em 0.125em 0em rgba(0, 0, 0, 0.2), 0em 0.1875em 0.625em 0em rgba(0, 0, 0, 0.19);
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

div.block {
  margin: 0em 0.5em 2em 0.5em;
}

/* Reused divs */
div.shadow-card {
  box-shadow: 0em 0.25em 0.5em 0em rgba(0, 0, 0, 0.2), 0em 0.375em 1.25em 0em rgba(0, 0, 0, 0.19);
  display: flex;
  margin-bottom: 1.5em;
}

div.header-divider {
  background: radial-gradient(ellipse at left, rgba(64, 64, 255, 1), rgba(64, 64, 255, 0.12)) !important;
  display: block;
  height: 0.1875em;
  margin: 0em 0.5em;
}

div.contents {
  width: 100%;
}

div.card-header {
  font-weight: bold;
  font-size: xx-large;
}

/* Main header */
div.header-name {
  font-weight: bold;
  font-size: xx-large;
}

div.header-contact {
  justify-content: space-between;
}

/* Skills */
div.skills-table {
  justify-content: space-between;
}

/* Roles */
div.role-divider {
  display: block;
  background: radial-gradient(ellipse at left, rgba(184, 184, 255, 1), rgba(184, 184, 255, 0.12)) !important;
  height: 0.125em;
}

div.role-name-and-dates {
  align-items: flex-end;
}

div.role-name {
  font-size: large;
  font-weight: bold;
}

div.last-one {
  margin-bottom: 0.25em;
}
